<div class='cursor-form'>
  <h2 class='heading'>Square Site</h2>
  <ul class='option-list'>
    <% @sites.each do |site| %>
      <li>
        <h3 class='site-heading'><%= site['site_title'] %></h3>
        <a href="<%= site_path(site['id']) %>"> 
          <input type="radio" name="site-id" value="<%= site['id'] %>" <%= 'checked' if site['id'] == @site['id'] %> /> 
        </a>
      </li>
    <% end %>
  </ul>

  <h2 class='heading'>Cursor Selection</h2>
  <p>This sets the cursor visitors see when using your online store.</p>
  <ul class='option-list'>
    <li>
      <h2 class='site-heading'>游녤</h2>
      <%= button_to site_snippets_path(@site['id']), params: {snippet: {emoji: "游녤"}}, :method => :post do %> 
        <input onclick="this.form.submit()" type="radio" name="emoji" value="游녤" <%= 'checked' if @emoji == '游녤' %> />
      <% end %>
    </li>
    <li>
      <h2 class='site-heading'>游때</h2>
      <%= button_to site_snippets_path(@site['id']), params: {snippet: {emoji: "游때"}}, :method => :post do %> 
        <input onclick="this.form.submit()" type="radio" name="emoji" value="游때" <%= 'checked' if @emoji == '游때' %> />
      <% end %>
    </li>
    <li>
      <h2 class='site-heading'>游놑</h2>
      <%= button_to site_snippets_path(@site['id']), params: {snippet: {emoji: "游놑"}}, :method => :post do %> 
        <input onclick="this.form.submit()" type="radio" name="emoji" value="游놑" <%= 'checked' if @emoji == '游놑' %> />
      <% end %>
    </li>
    <li>
      <h2 class='site-heading'>游눮</h2>
      <%= button_to site_snippets_path(@site['id']),  params: {snippet: {emoji: "游눮"}}, :method => :post do %> 
        <input onclick="this.form.submit()" type="radio" name="emoji" value="游눮" <%= 'checked' if @emoji == '游눮' %> />
      <% end %>
    </li>
    <li>
      <h2 class='site-heading'>游</h2>
      <%= button_to site_snippets_path(@site['id']), params: {snippet: {emoji: "游"}}, :method => :post do %> 
        <input onclick="this.form.submit()" type="radio" name="emoji" value="游" <%= 'checked' if @emoji == '游' %> />
      <% end %>
    </li>
    <li>
      <h2 class='site-heading'>游볫</h2>
      <%= button_to site_snippets_path(@site['id']), params: {snippet: {emoji: "游볫"}}, :method => :post do %> 
        <input onclick="this.form.submit()" type="radio" name="emoji" value="游볫" <%= 'checked' if @emoji == '游볫' %> />
      <% end %>
    </li>
  </ul>
  
  <% if @snippet %> 
    <div class='action-list'>
      <%= button_to "Remove Custom Cursor", site_snippet_path(@snippet['site_id'], @snippet['id']), :class => 'remove-cursor', :method => :delete %> </p>
    </div>
  <% end %>
</div>