extends layout
block content
  script(type="text/javascript" src="https://sandbox.web.squarecdn.com/v1/square.js")
  script(type="text/javascript").
    window.applicationId="#{squareApplicationId}";
    window.locationId="#{squareLocationId}";
    window.currency="#{squareAccountCurrency}";
    window.country="#{squareAccountCountry}";

  form(class="payment-form" id="fast-checkout")
    div(class="wrapper")
      button(id="apple-pay-button" alt="apple-pay")
        image(src="images/Apple Pay.svg")
      button(id="google-pay-button" alt="google-pay")
        image(src="images/GPay.svg")
      div(class="border")
        span().
          OR

      div(id="ach-wrapper")
        label(for="ach-first-name")
        input(id="ach-first-name" type="text" placeholder="First Name" name="account-holder-first-name")
        label(for="ach-last-name")
        input(id="ach-last-name" type="text" placeholder="Last Name" name="account-holder-last-name")
        span(id="ach-message")
        button(id="ach-button").
          Pay with Bank Account
        div(class="border")
          span().
            OR

      div(id="card-container")
      button(id="card-button" type="button").
        Pay with Card
      span(id="message")
      
    input(type="hidden" id="card-nonce" name="nonce")
  script(type="text/javascript" src="/js/sq-ach.js")
  script(type="text/javascript" src="/js/sq-apple-pay.js")
  script(type="text/javascript" src="/js/sq-google-pay.js")
  script(type="text/javascript" src="/js/sq-card-pay.js")