extends layout
block content
  script(type="text/javascript" src="https://sandbox.web.squarecdn.com/v1/square.js")
  script(type="text/javascript").
    window.applicationId="#{squareApplicationId}";
    window.locationId="#{squareLocationId}";
    window.currency="#{squareAccountCurrency}";
    window.country="#{squareAccountCountry}";

  form(class="payment-form" id="fast-checkout" action="/process-payment" method="POST")
    div(class="wrapper")
      button(id="apple-pay-button" alt="apple-pay")
        image(src="images/Apple Pay.svg")
      button(id="google-pay-button" alt="google-pay")
        image(src="images/GPay.svg")
      div(class="border")
        span().
          OR

      div(id="ach-wrapper")
        button(id="ach-button").
          Pay with Bank Account
        div(class="border")
          span().
            OR

      div(id="card-container")
      button(id="card-button" type="button").
        Pay with Card

      div(class="border")
        span().
          OR

      div(id="gift-card-container")
      button(id="gift-card-button").
        Pay with Gift Card
      
    input(type="hidden" id="card-nonce" name="nonce")
  

  script(type="text/javascript" src="/js/sq-ach.js")
  script(type="text/javascript" src="/js/sq-apple-pay.js")
  script(type="text/javascript" src="/js/sq-gift-card-pay.js")
  script(type="text/javascript" src="/js/sq-google-pay.js")
  script(type="text/javascript" src="/js/sq-card-pay.js")
  script(type="text/javascript" src="/js/sq-payment-flow.js")