//- Copyright 2020 Square Inc.
 
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
 
//-     http://www.apache.org/licenses/LICENSE-2.0
 
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and
//- limitations under the License. 

extends layout
block append styles
  link(rel='stylesheet', href='/stylesheets/index.css')
block append scripts
block content
  div(class="container")
    div(class="subtitle") Invoices API Sample App
    div(class="title") Telson Contractors
    div(class="title-description") This is an example to show developers how to 
      | use Square Invoices API to manage invoices for a contractor.
    div(class="customers-list-title") Customers
    div(class="customers-list")
      each customer, index in customers
        div(class="customer-card")
          a(href=`/management/${locationId}/${customer.id}`)
            div(class="customer-name") #{customer.givenName} #{customer.familyName}
            div(class="customer-info") Card on file: #{customer.cards ? `${customer.cards[0].cardBrand} ending in ${customer.cards[0].last4}` : "None"}
            div(class="customer-card__right")
              svg(width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M1 1L7 7L1 13" stroke="#D0D3D6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
