//- Copyright 2020 Square Inc.
 
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
 
//-     http://www.apache.org/licenses/LICENSE-2.0
 
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and
//- limitations under the License. 

extends layout
block append styles
  link(rel='stylesheet', href='/stylesheets/invoice.css')
block append scripts
block content
  a(class="back-button" href=`/management/${locationId}/${customerId}`)
    svg(width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
      path(d="M8 1L1 8m0 0h14M1 8l7 7" stroke="#8594A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
  div(class="container")
    div(class="subtitle") Invoice ##{invoice.invoiceNumber}
    div(class="title") #{invoice.title ? invoice.title : `#${invoice.invoiceNumber}`}
    if invoice.status === "UNPAID" || invoice.status === "CANCELED"
      div(class="title-description orange bold") INVOICE #{invoice.status}
    else if invoice.status === "SCHEDULED" || invoice.status === "PAID"
      div(class="title-description green bold") INVOICE #{invoice.status}
    else
      div(class="title-description blue bold") INVOICE #{invoice.status}

    div(class="list")
      div(class="listitem")
        div(class="listitem__title") Recipient Name
        div(class="listitem__subtitle") #{invoice.primaryRecipient.givenName} #{invoice.primaryRecipient.familyName}
      div(class="listitem")
        div(class="listitem__title") Recipient Email
        div(class="listitem__subtitle") #{invoice.primaryRecipient.emailAddress}
      div(class="listitem")
        div(class="listitem__title") Status
        div(class="listitem__subtitle") #{invoice.status}
      if invoice.scheduledAt
        div(class="listitem")
          div(class="listitem__title") Scheduled at
          div(class="listitem__subtitle") #{invoice.scheduledAt}
      div(class="listitem")
        div(class="listitem__title") Payment Method
        case invoice.paymentRequests[0].automaticPaymentSource
          when "NONE"
            div(class="listitem__subtitle") Automatic payment not configured
          when "CARD_ON_FILE"
            div(class="listitem__subtitle") Charge card on file on due date
          when "BANK_ON_FILE"
            div(class="listitem__subtitle") Charge bank account on file //- This option is not used in this sample app
      div(class="listitem")
        div(class="listitem__title") Payment Due Date
        div(class="listitem__subtitle") #{invoice.paymentRequests[0].dueDate}
      div(class="listitem")
        div(class="listitem__title") Amount Money
        div(class="listitem__subtitle") $#{(parseInt(invoice.paymentRequests[0].computedAmountMoney.amount) / 100).toFixed(2)}
      div(class="listitem")
        div(class="listitem__title") Created At
        div(class="listitem__subtitle") #{invoice.createdAt}
      if invoice.status !== "DRAFT" && invoice.status !== "SCHEDULED"
        div(class="listitem")
          div(class="listitem__title") Public Invoice Url
          div(class="listitem__subtitle")
            a(href=invoice.publicUrl) #{invoice.publicUrl}

    div(class="button-container")
      if invoice.status === "DRAFT"
        form(id="delete", action='/invoice/delete', method='post')
          input(name='locationId', type='hidden', value=locationId)
          input(name="invoiceId", type='hidden', value=invoice.id)
          input(name="invoiceVersion", type='hidden', value=invoice.version)
          input(name="customerId", type='hidden', value=customerId)
          button(class="action-button red" type="submit") Delete Invoice
        form(id="publish", action='/invoice/publish', method='post')
          input(name='idempotencyKey', type='hidden', value=idempotencyKey)
          input(name='locationId', type='hidden', value=locationId)
          input(name="invoiceId", type='hidden', value=invoice.id)
          input(name="invoiceVersion", type='hidden', value=invoice.version)
          input(name="customerId", type='hidden', value=customerId)
          button(class="action-button primary-button" type="submit") Publish Invoice
      if invoice.status !== "DRAFT" && invoice.status !== "PAID" && invoice.status !== "REFUNDED" && invoice.status !== "CANCELED" && invoice.status !== "FAILED"
        form(id="cancel", action='/invoice/cancel', method='post')
          input(name='locationId', type='hidden', value=locationId)
          input(name="invoiceId", type='hidden', value=invoice.id)
          input(name="invoiceVersion", type='hidden', value=invoice.version)
          input(name="customerId", type='hidden', value=customerId)
          button(class="action-button red" type="submit") Cancel Invoice