//- Copyright 2019 Square Inc.
 
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
 
//-     http://www.apache.org/licenses/LICENSE-2.0
 
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and
//- limitations under the License. 

extends layout
block append styles
    link(rel='stylesheet', href='/stylesheets/checkout.css')
block append scripts
    - let productionUrl = "https://js.squareup.com/v2/paymentform";
    - let sandBoxUrl = "https://js.squareupsandbox.com/v2/paymentform";
    - let paymentFormSrc = process.env.NODE_ENV === "sandbox" ? sandBoxUrl :productionUrl;
    script(type="text/javascript" src="/js/checkout.js")
    script(type="text/javascript" src=paymentFormSrc)
    script(type="text/javascript").
        window.applicationId= "#{applicationId}";
        window.locationId= "#{location.id}";
        function handleChange(element){
            document.getElementById("customer-" + element.id).value = element.value
        }
    script(type="text/javascript" src="/js/sq-payment-form.js")
block content
    form(id="nonce-form" novalidate action="process-payment" method="post")
        div(class="tab") 
            h1(class="page-title") Choose Delivery Method
            div(class="tab-content")
                include includes/pickup-info-input.pug
                div(class="order-summary")
                    include includes/order-summary.pug
                    button(class="form-button" type="button" onclick="nextTab()") Continue To Payment
        div(class="tab hidden") 
            h1(class="page-title") Review &amp; Complete Your Order
            div(class="tab-content")
                include includes/square-payment-form.pug
                div(class="order-summary")
                    include includes/order-summary.pug
                    include includes/pickup-details.pug
                    button(id="sq-creditcard" class="form-button" type="button" onclick="onGetCardNonce(event)") Pay with Card