//- Copyright 2020 Square Inc.
 
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
 
//-     http://www.apache.org/licenses/LICENSE-2.0
 
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and
//- limitations under the License. 

extends ./layout
block append styles
  link(rel="stylesheet", href="/stylesheets/subscription.css")
block content
  a(class="back-button" href=`/management/${locationId}/${customer.id}`)
    svg(width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
      path(d="M8 1L1 8m0 0h14M1 8l7 7" stroke="#8594A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
  div(class="container")
    div(class="subtitle") Plan Details
    div(class="title") #{subscriptionPlanInfo.subscriptionPlan.name}
    div(class="title-description") Customer - #{customer.givenName} #{customer.familyName}

    div(class="list-title") Subscription Plan Info
    div(class="list")
      each phaseInfo in subscriptionPlanInfo.planPhaseInfos
        div(class="listitem")
          div(class="listitem__title") #{phaseInfo.title}
          div(class="listitem__subtitle") #{phaseInfo.subTitle}
          div(class="listitem__right")
            if (phaseInfo.label === "Current")
              svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                rect(width="24" height="24" rx="12" fill="#006BE6")
                path(d="M8 12L10.8571 15L16 9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            else 
              div(class=("phase-label gray")) #{phaseInfo.label}

    div(class="list-title") Current Subscription
    div(class="list")
      div(class="listitem")
        if !subscriptionPlanInfo.activeSubscription
          div(class="listitem__title") Customer doesn't have an active subscription.
          form(class="listitem__right" id="subscribe", action="/subscription/subscribe", method="post")
                input(name="idempotencyKey", type="hidden", value=idempotencyKey)
                input(name="locationId", type="hidden", value=locationId)
                input(name="planId", type="hidden", value=subscriptionPlanId)
                input(name="customerId", type="hidden", value=customer.id)
                button(class="subscribe-button", form="subscribe", type="submit") Subscribe
        else if !subscriptionPlanInfo.activeSubscription.canceledDate
          div(class="listitem__title") Started on #{subscriptionPlanInfo.activeSubscription.startDate}
          div(class="listitem__subtitle green") #{subscriptionPlanInfo.activeSubscription.status}
          form(class="listitem__right" id="unsubscribe", action="/subscription/unsubscribe", method="post")
                input(name="locationId", type="hidden", value=locationId)
                input(name="subscriptionId", type="hidden", value=subscriptionPlanInfo.activeSubscription.id)
                input(name="customerId", type="hidden", value=customer.id)
                button(form="unsubscribe", type="submit") Unsubscribe
        else 
          div(class="listitem__title") Started on #{subscriptionPlanInfo.activeSubscription.startDate}
          div(class="listitem__subtitle orange") Will cancel on #{subscriptionPlanInfo.activeSubscription.canceledDate}
          form(class="listitem__right" id="revert", action="/subscription/revertcancel", method="post")
                input(name="locationId", type="hidden", value=locationId)
                input(name="subscriptionId", type="hidden", value=subscriptionPlanInfo.activeSubscription.id)
                input(name="subscriptionVersion", type="hidden", value=`${parseInt(subscriptionPlanInfo.activeSubscription.version)}`)
                input(name="planId", type="hidden", value=subscriptionPlanId)
                input(name="customerId", type="hidden", value=customer.id)
                button(form="revert", type="submit") Revert Cancelation