<html>

<head>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  <script src="/js/bwip-js-min.js"></script>
</head>

<body>
  <header>
    <%- include("../partials/header") %>
  </header>
  <div class="wrapper">
    <div id="card-details__wrapper">
      <div id="card-details__title-wrapper">
        <div id="card-details__title">
          <h4>Gift Card</h4>
          <div>Created on <%= formatDate(giftCard.createdAt) %></div>
        </div>
        <div class="pretty-dropdown-menu" onclick="showMenuOptions(this)">
          <button class="btn-secondary"><img src="/images/ellipsis.svg" /></button>
          <ul class="pretty-dropdown-menu__list">
            <a href="<%= giftCard.gan %>/history">
              <li class="pretty-dropdown-menu__list-item">Transaction history</li>
            </a>
            <% if (giftCard.state === "NOT_ACTIVE") { %>
              <li class="pretty-dropdown-menu__list-item--disabled">Delete card</li>
            <% } else { %>
              <li class="pretty-dropdown-menu__list-item pretty-dropdown-menu__list-item--critical">Delete card</li>
            <% } %>
          </ul>
        </div>
      </div>
      <div class="dashboard-cards__card">
        <div class="dashboard-cards__inner dashboard-cards__inner-flip">
          <div class="dashboard-cards__card-front">
            <img src="/images/giftCardImage.png" />
          </div>
          <div class="dashboard-cards__card-back">
            <img id="barcode"/>
          </div>
        </div>
      </div>
      <h3 id="card-details__balance"><%= formatMoney(giftCard.balanceMoney.amount, giftCard.balanceMoney.currency) %></h3>
      <% if (giftCard.state === "NOT_ACTIVE") { %>
        <div>Your card curently has no funds avalible. Add money to activate this card for use.</div>
      <% } else { %>
        <div>This card is active</div>
      <% } %>
      <div class="card-details__info">
        <div class="card-details__info-row">
          <div class="card-details__info-label">
            Card number
          </div>
          <div class="card-details__info-value">
            <%= giftCard.gan %>
          </div>
        </div>
      </div>
      <button>Add Fund</button>
    </div>
  </div>
  <script src="/js/pretty-dropdown-menu.js"></script>
  <script>
    function generateBarCode(value) {
      let canvas = document.createElement('canvas');
      let options = {
        bcid:        'pdf417',        // Barcode type
        text:        value.toString(),    // Text to encode
        scale:       2,               // 3x scaling factor
        height:      10,              // Bar height, in millimeters
        includetext: true,            // Show human-readable text
        textxalign:  'center',        // Always good to set this
      }
      bwipjs.toCanvas(canvas, options);
      document.getElementById('barcode').src = canvas.toDataURL('image/png');
    }
    generateBarCode(<%= giftCard.gan %>);
  </script>
</body>

</html>