<% include("../functions") %>
<html>

<head>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <header>
    <%- include("../partials/header") %>
  </header>
  <div class="container">
    <div class="content__service message">
      <h3> Thank you for booking with us </h3>
      <h5 class="subtitle"> We will contact you after your appointment has been accepted.</h5>
      <div class="content__card">
        <div class="test">
          <div>
            <h5 class="subtitle">Scheduled with</h5>
            <h4>Staff Member</h4>
          </div>
          <div class="date">
            <h5><%= formatDate(booking.startAt, booking.appointmentSegments[0].durationMinutes) %></h5>
          </div>
          <div>
            <h5><%= parentItem.itemData.name %> - <%= serviceVariation.itemVariationData.name %></h5>
          </div>
          <div class="location-info">
            <span><%= location.address.addressLine1 %>, </span> <br>
            <%if (location.address.addressLine2) { %>
              <span><%= location.address.addressLine2 %>, </span>
            <% } %>
            <span>
              <%= location.address.locality %>, 
              <%= location.address.administrativeDistrictLevel1 %>,
              <%= location.address.postalCode %>
            </span>
          </div>
          <div class="button__group">
            <form action="/booking/<%= booking.id %>/reschedule" method="get">
              <button class="btn-primary" type="submit"> Modify Booking </button>
            </form>
            <form class="form-control" action="/booking/<%= booking.id %>/cancel" method="POST">
              <button class="btn-secondary" type="submit">Cancel booking</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>