<% include("../functions") %> 
<html>

<head>
  <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <header>
    <%- include("../partials/header") %>
  </header>
  <% giftCards.forEach(function(giftCard) { %>
    <div class="card">
      <%= giftCard.gan %>
      <%= giftCard.state %>
      <%= formatMoney(giftCard.balanceMoney.amount, giftCard.balanceMoney.currency)  %>
      <a href=<%= "gift-card/" + giftCard.gan %>>View</a>
      <a href=<%= "/gift-card/load/" + giftCard.gan %>>Add Fund</a>
    </div>
  <%}); %>
</body>

</html>