<html>

<head>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  <link href="/stylesheets/pretty-dropdown-select.css" rel="stylesheet" type="text/css">
  <% include("../functions") %>
</head>

<body>
  <div class="window-container" id="login-container">
    <div class="content__wrapper">
      <span class="eyebrow">Square Developer</span>
      <h1>Gift Card Sample App</h1>
      <span>You can easily manage your gift cards with Square Gift Cards. This sample app
        demonstrates how Square Gift Cards API may be used by a customer to manage their gift cards.
      </span>
      <div id="login">
        <h5>Login</h5>
        <div id="login-dropdown">
          <ul class="pretty-dropdown__options">
            <% customers.forEach(function(customer) { %>
              <li onclick="select(this)" 
                pretty-dropdown-value="<%= customer.id %>"
                pretty-dropdown-primary-display="Customer"
                pretty-dropdown-secondary-display="<%= customer.givenName %> <%= customer.familyName %>">
                <div class="pretty-dropdown__option">
                  <%= customer.givenName %>
                  <%= customer.familyName %>
                </div>
              </li>
              <% }); %>
          </ul>
        </div>
        <form action="/login" method="POST">
          <input name="customer" id="pretty-dropdown__value" hidden=true type="text" value="<%= customers[0].id %>" />
          <button class="square-button" type="submit">Login</button>
        </form>
        <div class="message">
          Don’t forget you can manage Customers and Gift Cards using Square’s API Explorer to call the API. This sample
          app will update accordingly.
        </div>
      </div>
    </div>

    <script src="/js/pretty-dropdown-select.js"></script>
    <script>
      initializeDropdown("login-dropdown",
        {
          img: "/images/profile.svg",
          primary: "Customer",
          secondary: "<%= customers[0].givenName %> <%= customers[0].familyName %>"
        });
    </script>
</body>

</html>