<html>

<head>
  <link rel="stylesheet" href="/stylesheets/styles.css" />
</head>

<body>

  <div class="content">
    <div class="content-left">
      <a class="button">Back</a>
      <div class="steps">
        <div class="steps__step">
          <div class="steps__step-wrapper">
            <div class="steps__step-title">
              <span>Services</span>
              <a href="">Edit</a>
            </div>
            <div class="steps__step-body">
              <div class="steps__step-name">
                <%= parentItem.itemData.name %>
              </div>
              <div class="steps__step-description">
                <%= serviceVariation.itemVariationData.serviceDuration %>
              </div>
            </div>
          </div>
        </div>
        <div class="steps__step selected">
          <div class="steps__step-wrapper">
            <div class="steps__step-title">
              <span>Select staff</span>
              <span>icon</span>
            </div>
          </div>
        </div>
        <div class="steps__step">
          <div class="steps__step-wrapper">
            <div class="steps__step-title">
              <span>Appointment time</span>
              <span>icon</span>
            </div>
          </div>
        </div>
        <div class="steps__step">
          <div class="steps__step-wrapper">
            <div class="steps__step-title">
              <span>Enter your details</span>
              <span>icon</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-main">

    </div>
  </div>


  <h5> Select Staff member </h5>
  <h6> </h6>
  <h6> <%= parentItem.itemData.description %></h6>
  <h6> </h6>
  <div class="services">
    <%if (bookableStaff.length > 0) { %>
      <a href="/availability/<%= bookableStaff[0].teamMemberId %>/<%= serviceVariation.id %>?version=<%= serviceVersion %>" >
        First available staff member
    <% } %>
    <% bookableStaff.forEach(function(employee) { %>
      <div>
        <a href="/availability/<%= employee.teamMemberId %>/<%= serviceVariation.id %>?version=<%= serviceVersion %>" >
          <%= employee.displayName %>
        </a>
        <%= employee.description %>
      </div>
    <%}); %>
</body>

</html>