<html>

<head>
</head>

<body>
  <h5> Select Staff member </h5>
  <h6> <%= parentItem.itemData.name %></h6>
  <h6> <%= parentItem.itemData.description %></h6>
  <h6> <%= serviceVariation.itemVariationData.serviceDuration %></h6>
  <div class="services">
    <%if (staff.length > 0) { %>
      <a href="/services/booking?serviceId=<%= serviceVariation.id %>&staffId=<%= staff[0].teamMemberId %>" >
        First available staff member
    <% } %>
    <% staff.forEach(function(employee) { %>
      <div>
        <a href="/services/booking?serviceId=<%= serviceVariation.id %>&staffId=<%= employee.teamMemberId %>">
          <%= employee.displayName %>
        </a>
        <%= employee.description %>
      </div>
    <%}); %>
</body>

</html>