<% include("../functions") %>
  <html>

  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <header>
      <%- include("../partials/header") %>
    </header>

    <div class="content">
      <div class="content-left">
        <a class="button" href="/services">← Back</a>
        <div class="steps">
          <div class="steps__step">
            <div class="steps__step-wrapper">
              <div class="steps__step-title">
                <span>Services</span>
                <a href="/services">Edit</a>
              </div>
              <div class="steps__step-body">
                <div class="steps__step-name">
                  <%= serviceItem.itemData.name %>
                </div>
                <div class="steps__step-description">
                  <%= formatTime(serviceVariation.itemVariationData.serviceDuration) %>
                </div>
              </div>
            </div>
          </div>
          <div class="steps__step selected">
            <div class="steps__step-wrapper">
              <div class="steps__step-title">
                <span>Select staff</span>
                <span class="icon side-caret-selected"></span>
              </div>
            </div>
          </div>
          <div class="steps__step">
            <div class="steps__step-wrapper">
              <div class="steps__step-title">
                <span>Appointment time</span>
                <span class="icon plus"></span>
              </div>
            </div>
          </div>
          <div class="steps__step">
            <div class="steps__step-wrapper">
              <div class="steps__step-title">
                <span>Enter your details</span>
                <span class="icon plus"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-main">
        <h4>Select a staff member</h4>
        <div class="staff">
          <%if (bookableStaff.length> 0) { %>
          <a href="/availability/<%= bookableStaff[0].teamMemberId %>/<%= serviceVariation.id %>?version=<%= serviceVersion %>">
          <div class="staff__card">
            <div class="staff__card-wrapper">
              <div class="staff__card-picture" id="any-staff">
                <img id="image-1" src="/images/staff-1.jpeg" />
                <img id="image-2" src="/images/staff-2.jpeg" />
              </div>
              <div class="staff__card-details">
                <div class="staff__card-name">First available staff member</div>
                <div class="staff__card-description">
                  Looking for the first available appointment? Choose this option to find the first avalible
                  appointment.
                </div>
              </div>
            </div>
            <span class="icon plus"></span>
          </div>
          </a>
          <% } %>

          <% for(var i=0; i < bookableStaff.length; i++) { %>
          <a href="/availability/<%= bookableStaff[i].teamMemberId %>/<%= serviceVariation.id %>?version=<%= serviceVersion %>">
          <div class="staff__card">
            <div class="staff__card-wrapper">
              <div class="staff__card-picture">
                <img src="/images/staff-<%= i%2+1 %>.jpeg" />
              </div>
              <div class="staff__card-details">
                <div class="staff__card-name"><%= bookableStaff[i].displayName %></div>
                <div class="staff__card-description">
                  <%= bookableStaff[i].description || "No description." %>
                </div>
              </div>
            </div>
          <span class="icon plus"></span>  
          </div>     
          </a>
          <%}; %>
        </div>
      </div>
    </div>

  </body>

  </html>